In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame
import sqlite3

# dftitle_basics.columns

# 'tconst' (str), 'primary_title' (str), 'original_title' (str), 'start_year' (int),
#        'runtime_minutes' (float), 'genres' (str)

In [2]:
dftitle_basics = pd.read_csv("zippedData/imdb.title.basics.csv")
dftitle_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [3]:
dftitle_basics['genres'].notnull()

0          True
1          True
2          True
3          True
4          True
          ...
146139     True
146140     True
146141     True
146142    False
146143     True
Name: genres, Length: 146144, dtype: bool

In [4]:
dftitle_basics['genres'].isna().sum()

5408

In [5]:
dftitles = dftitle_basics[dftitle_basics['genres'].notnull()]
dftitles

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146138,tt9916428,The Secret of China,The Secret of China,2019,NaN,"Adventure,History,War"
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [6]:
dftitles['genres'].isna().sum()

0

In [7]:
type(dftitles['genres'])

pandas.core.series.Series

In [8]:
def splitNewCol(dfName, columnName):
    genre_id_list = []
    for val in dfName[columnName]:
        genre_id_list.append(val.split(","))
    return(genre_id_list)

In [9]:
dftitles['genres_list'] = splitNewCol('dftitles', 'genres')

TypeError: string indices must be integers