In [2]:
import pandas as pd

In [4]:
# dftitle_basics = pd.read_csv("zippedData/imdb.title.basics.csv")
# %store dftitle_basics

# dftitle_basics.head()

In [5]:
df_tmdb_movies = pd.read_csv("zippedData/tmdb.movies.csv")
%store df_tmdb_movies

df_tmdb_movies.head()

Stored 'df_tmdb_movies' (DataFrame)

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [3]:
df_tn_movie_budgets = pd.read_csv("zippedData/tn.movie_budgets.csv")
# %store df_tn_movie_budgets

df_tn_movie_budgets.tail()

Stored 'df_tn_movie_budgets' (DataFrame)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [6]:
# df_tmdb_site = pd.read_csv('zippedData/tmdb_5000_movies.csv.zip')
# %store df_tmdb_site

# # df_tmdb_site.head()

In [24]:
# dfmovie_gross = pd.read_csv("zippedData/bom.movie_gross.csv")
# dfmovie_gross.head()

In [4]:
# dfname_basics = pd.read_csv("zippedData/imdb.name.basics.csv")
# dfname_basics.head()

In [6]:
# dftitle = pd.read_csv("zippedData/imdb.title.akas.csv")
# dftitle.head()

In [9]:
# dftitle_crew = pd.read_csv("zippedData/imdb.title.crew.csv.gz")
# dftitle_crew.head()

In [12]:
# dftitle_principals = pd.read_csv("zippedData/imdb.title.principals.csv")
# dftitle_principals.head()

In [14]:
# dftitle_ratings = pd.read_csv("zippedData/imdb.title.ratings.csv.gz")
# dftitle_ratings.head()

In [15]:
# df_rt_movie_info = pd.read_csv("zippedData/rt.movie_info.tsv.gz", compression='gzip',error_bad_lines=False, delimiter='\t',encoding='ISO-8859-1')
# df_rt_movie_info.head()

In [17]:
# df_rt_reviews = pd.read_csv("zippedData/rt.reviews.tsv.gz", compression='gzip',error_bad_lines=False, delimiter='\t',encoding='ISO-8859-1')
# df_rt_reviews.head()