In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame
import sqlite3
import pymongo

In [2]:
df_metadata_site = pd.read_csv('zippedData/movies_metadata.csv.zip')
#df_metadata_site.head(1)

/Users/leighannahooper/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df_metadata_site_clean = df_metadata_site.drop(['adult', 'runtime', 'spoken_languages', 'status', 'tagline', 'title'], axis=1)
df_metadata_clean2 = df_metadata_site_clean.drop(['belongs_to_collection', 'homepage', 'original_language', 'release_date', 'overview'], axis=1)
df_metadata_clean3 = df_metadata_clean2.drop(['poster_path', 'production_companies', 'production_countries', 'video'], axis=1)
df_tm_meta = df_metadata_clean3.set_index('id')

In [4]:
df_tm_meta.head()

,budget,genres,imdb_id,original_title,popularity,revenue,vote_average,vote_count
id,,,,,,,,
862,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",tt0114709,Toy Story,21.9469,373554033.0,7.7,5415.0
8844,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",tt0113497,Jumanji,17.0155,262797249.0,6.9,2413.0
15602,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",tt0113228,Grumpier Old Men,11.7129,0.0,6.5,92.0
31357,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0114885,Waiting to Exhale,3.85949,81452156.0,6.1,34.0
11862,0,"[{'id': 35, 'name': 'Comedy'}]",tt0113041,Father of the Bride Part II,8.38752,76578911.0,5.7,173.0

In [5]:
df_tm_meta['genres'].notnull()

id
862       True
8844      True
15602     True
31357     True
11862     True
          ...
439050    True
111109    True
67758     True
227506    True
461257    True
Name: genres, Length: 45466, dtype: bool

In [6]:
df_tm_meta['genres'].isna().sum()

0

In [7]:
df_tm_meta['genres'].notnull()

# dftitles = dftitle_basics[dftitle_basics['genres'].notnull()]
# dftitles

id
862       True
8844      True
15602     True
31357     True
11862     True
          ...
439050    True
111109    True
67758     True
227506    True
461257    True
Name: genres, Length: 45466, dtype: bool

In [8]:
df_tm_meta['genres'].isna().sum()

0

In [9]:
type(df_tm_meta['genres'])

pandas.core.series.Series

In [10]:
df_tm_meta['genres'].iloc[0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [11]:
def removeFirstLastChar(dfName, columnName, char1, char2):
    newCol = []
    for val in dfName[columnName]:
        newCol.append(val.replace(char1, '').replace(char2, ''))
    return(newCol)

In [12]:
df_tm_meta['genre_list_test'] = removeFirstLastChar(df_tm_meta, 'genres', '[', ']')

In [13]:
def splitNewCol(dfName, columnName):
    genre_id_list = []
    for val in dfName[columnName]:
        genre_id_list.append(val.split(","))
    return(genre_id_list)

In [14]:
df_tm_meta['genres_test'] = splitNewCol('df_tm_meta', 'genres')

TypeError: string indices must be integers

In [ ]:
#for pymongo db connection

# myConn = pymongo.MongoClient("mongodb://127.0.0.1:27017/")
# mydb = myConn['df_tm_meta']

In [ ]:
# print(myConn.list_database_names())

In [ ]:
# mycollection = mydb['test_collection']

In [ ]:
# mydb.list_collection_names()

In [ ]:
# df_keywords_site = pd.read_csv('zippedData/keywords.csv.zip')
# df_keywords_site_index = df_keywords_site.set_index('id')

# df_keywords_site['keywords']

In [ ]:
# joined tmdb movies with the keywords at id

In [ ]:
# df_movies_keywords = df_tm_movies.join(df_keywords_site_index)

In [ ]:
#not all the values transfer - try outer join with suffix


# df_meta_keywords = df_tm_meta.join(df_keywords_site_index)
#df_tm_meta['budget'].isna()

# another csv pulled from tmdb site - has an unique id for each imdbid = tmdbid

In [ ]:
# df_links_site = pd.read_csv('zippedData/links_small.csv')
# df_links_site.tail(10)

In [ ]:
#try concat this way -
#result = pd.concat([df1, df4], axis=1, sort=False)

In [ ]:
#try outer join with rsuffix= '_moviesdb'
#joined_df = df1.join(df2, how='inner')