In [1]:
import json
import requests
import pandas as pd

In [2]:
#confirm I don't need this

# def get_keys(path):
#     with open(path) as f:
#         return json.load(f)

In [3]:
#create request

genre_endpoint = "https://api.themoviedb.org/3/genre/movie/list?api_key=6e891234039cecd4a639d6e117cacf41&language=en-US"
params = {'term': "term.replace(' ', '+')",
                'location': "location.replace(' ', '+')"}
headers = {"Authorization": f"Bearer {['api_key']}"}
           
response = requests.get(genre_endpoint, headers=headers, params=params)
           
           
print(response)
print(type(response.text))
print(response.text[:1000])

<Response [200]>
<class 'str'>
{"genres":[{"id":28,"name":"Action"},{"id":12,"name":"Adventure"},{"id":16,"name":"Animation"},{"id":35,"name":"Comedy"},{"id":80,"name":"Crime"},{"id":99,"name":"Documentary"},{"id":18,"name":"Drama"},{"id":10751,"name":"Family"},{"id":14,"name":"Fantasy"},{"id":36,"name":"History"},{"id":27,"name":"Horror"},{"id":10402,"name":"Music"},{"id":9648,"name":"Mystery"},{"id":10749,"name":"Romance"},{"id":878,"name":"Science Fiction"},{"id":10770,"name":"TV Movie"},{"id":53,"name":"Thriller"},{"id":10752,"name":"War"},{"id":37,"name":"Western"}]}

In [4]:
data = response.json()

In [5]:
data.keys()

dict_keys(['genres'])

In [6]:
genres_list = data['genres']

In [7]:
genres_list

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 80, 'name': 'Crime'},
 {'id': 99, 'name': 'Documentary'},
 {'id': 18, 'name': 'Drama'},
 {'id': 10751, 'name': 'Family'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 36, 'name': 'History'},
 {'id': 27, 'name': 'Horror'},
 {'id': 10402, 'name': 'Music'},
 {'id': 9648, 'name': 'Mystery'},
 {'id': 10749, 'name': 'Romance'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 10770, 'name': 'TV Movie'},
 {'id': 53, 'name': 'Thriller'},
 {'id': 10752, 'name': 'War'},
 {'id': 37, 'name': 'Western'}]

In [8]:
#make it a dataframe
dfgenreIds = pd.DataFrame(response.json()['genres'])
dfgenreIds

       id             name
0      28           Action
1      12        Adventure
2      16        Animation
3      35           Comedy
4      80            Crime
5      99      Documentary
6      18            Drama
7   10751           Family
8      14          Fantasy
9      36          History
10     27           Horror
11  10402            Music
12   9648          Mystery
13  10749          Romance
14    878  Science Fiction
15  10770         TV Movie
16     53         Thriller
17  10752              War
18     37          Western

In [9]:
%store dfgenreIds

Stored 'dfgenreIds' (DataFrame)

In [10]:
%store genres_list

Stored 'genres_list' (list)