In [1]:
import pandas as pd

In [2]:
from importlib import reload
import functions as fun

reload(fun)

In [3]:
df_tmdb_movies = pd.read_csv("zippedData/tmdb.movies.csv")
%store df_tmdb_movies

Stored 'df_tmdb_movies' (DataFrame)

In [4]:
df_tmdb_movies.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [5]:
df_tmdb_clean = df_tmdb_movies.drop(['Unnamed: 0', 'original_language', 'release_date', 'title'], axis=1)
df_tm_movies = df_tmdb_clean.set_index('id')

In [6]:
df_tm_movies.head()
#df_tm_movies.shape

,genre_ids,original_title,popularity,vote_average,vote_count
id,,,,,
12444,"[12, 14, 10751]",Harry Potter and the Deathly Hallows: Part 1,33.533,7.7,10788
10191,"[14, 12, 16, 10751]",How to Train Your Dragon,28.734,7.7,7610
10138,"[12, 28, 878]",Iron Man 2,28.515,6.8,12368
862,"[16, 35, 10751]",Toy Story,28.005,7.9,10174
27205,"[28, 878, 12]",Inception,27.920,8.3,22186

In [7]:
df_tm_movies['genre_list_tm'] = fun.removeFirstLastChar(df_tm_movies, 'genre_ids', '[', ']')

In [8]:
df_tm_movies.head()
df_tm_movies['genre_list_tm'].notnull()

id
12444     True
10191     True
10138     True
862       True
27205     True
          ...
488143    True
485975    True
381231    True
366854    True
309885    True
Name: genre_list_tm, Length: 26517, dtype: bool

In [9]:
df_tm_movies['genre_list_tm'].isna().sum()

0

In [10]:
df_tm_movies['genre_new_list'] = fun.splitNewCol(df_tm_movies, 'genre_list_tm')

In [11]:
df_tm_movies = df_tm_movies.drop(['genre_list_tm'], axis=1)

In [12]:
df_tm_movies.head()

,genre_ids,original_title,popularity,vote_average,vote_count,genre_new_list
id,,,,,,
12444,"[12, 14, 10751]",Harry Potter and the Deathly Hallows: Part 1,33.533,7.7,10788,"[12, 14, 10751]"
10191,"[14, 12, 16, 10751]",How to Train Your Dragon,28.734,7.7,7610,"[14, 12, 16, 10751]"
10138,"[12, 28, 878]",Iron Man 2,28.515,6.8,12368,"[12, 28, 878]"
862,"[16, 35, 10751]",Toy Story,28.005,7.9,10174,"[16, 35, 10751]"
27205,"[28, 878, 12]",Inception,27.920,8.3,22186,"[28, 878, 12]"

In [13]:
%store df_tm_movies

Stored 'df_tm_movies' (DataFrame)